<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DX_QLVT_DATHANG.Properties.Settings.QLVT_DATHANGConnectionString" connectionString="Data Source=desktop-i7i4kpe;Initial Catalog=&quot;QLVT DATHANG&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DX_QLVT_DATHANG.Properties.Settings.QLVT_DATHANGConnectionString1" connectionString="Data Source=DESKTOP-I7I4KPE\HONGANH_SERVER01;Initial Catalog=&quot;QLVT DATHANG&quot;;User ID=LTRANG;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
